.panel-one
  .center-parent
    .center-child
      .main.col-960-1
        .main-box.col-960-1
          .main-item.col-960-1
            %h1 Style
          .main-item.col-960-1
            %h3 Colors
        .main-box.col-960-5
          .main-item.col-960-5
            %h4 Gray
          .main-item.col-960-5
            .style
              .style-box
                .style-item
                  .style-chip.gray-lightest-bg
                .style-item
                  .style-chip.gray-lighter-bg
                .style-item
                  .style-chip.gray-light-bg
                .style-item
                  .style-chip.gray-bg
                .style-item
                  .style-chip.gray-dark-bg
                .style-item
                  .style-chip.gray-darker-bg
                .style-item
                  .style-chip.gray-darkest-bg
        .main-box.col-960-5
          .main-item.col-960-5
            %h4 Blue
          .main-item.col-960-5
            .style
              .style-box
                .style-item
                  .style-chip.blue-lightest-bg
                .style-item
                  .style-chip.blue-lighter-bg
                .style-item
                  .style-chip.blue-light-bg
                .style-item
                  .style-chip.blue-bg
                .style-item
                  .style-chip.blue-dark-bg
                .style-item
                  .style-chip.blue-darker-bg
                .style-item
                  .style-chip.blue-darkest-bg
        .main-box.col-960-5
          .main-item.col-960-5
            %h4 Green
          .main-item.col-960-5
            .style
              .style-box
                .style-item
                  .style-chip.green-lightest-bg
                .style-item
                  .style-chip.green-lighter-bg
                .style-item
                  .style-chip.green-light-bg
                .style-item
                  .style-chip.green-bg
                .style-item
                  .style-chip.green-dark-bg
                .style-item
                  .style-chip.green-darker-bg
                .style-item
                  .style-chip.green-darkest-bg
