// Articles

- @journal_articles.each do |item|
  - if item.title.presence
    .main-item.col-960-1
      %h1= item.title
  - if item.description.presence
    .main-item.col-960-1
      %p.medium= item.description
  - if item.presence
    .main-item.col-960-1
      = link_to "#{t("read_more")}", article_path(item), class: "button tiny left"
