// Show

- content_for :breadcrumbs do
  %div.breadcrumbs
    %ul.breadcrumbs-box
      %li.breadcrumbs-item
        = link_to "Voltar", articles_path, class: "link mono tiny"

.panel-one
  .main
    .main-box
      .main-item
        %h1= @journal_article.title
