// Badges

- if fetch_badges.presence
  %nav.badges
    %ul.badges-box
      - fetch_badges.each do |object|
        %li.badges-item
          = link_to image_tag(object.thumb_box.url.to_s), object.url, target: "_blank", class: "link"
