// Schools

.main-box.col-960-1
  .main-item.col-960-1
    %h3 Egestas Mollis Dapibus Magna Ridiculus
  .main-item.col-960-2
    = link_to "Lorem Ipsum", root_path, class: "link medium"
  %hr.separator.medium
