// About

.main.col-960-1
  .main-box.col-960-1
    - if object.title.presence
      .main-item.col-960-1
        %h1= @about.title
    - if object.description.presence
      .main-item.col-960-1
        %p.medium= object.description
