// Categories

.main.col-960-1
  - objects.each.with_index do |_index, object|
    .main-box.col-960-1
      .main-item.col-960-1
        %h3= object.title
      - object.courses.each do |item|
        .main-item.col-960-2
          = link_to item.title, course_path(item), class: "link medium"
    %hr.separator.medium
